extends layout.pug

block content
  h2 Registration
  form(method="POST")
    label(for="email") Email
    input#email(type="email" placeholder="Email")
    label(for="password") Password
    input#password(type="password" placeholder="Password")
    label(for="password-confirm") Password confirmation
    input#password-confirm(type="password" placeholder="Confirmation")
    button#register(type="submit") Register