extends layout.pug
block variables
  - var page_title = 'login'

block content
  h2 Login
  if flag === 'reg'
    #message congratulations!
  if flag === 'auth'
    #message Please log-in
  form(method="POST")
    label(for="email") Email
    input#email(type="email" name="email" placeholder="Email" value=email required)
    label(for="password") Password
    input#password(type="password" name="password" placeholder="Password" required)
    button#login(type="submit") Login
    if error
      #error= error