extends layout.pug
block variables
  - var page_title = 'login'

block content
  h2 Login
  form(method="POST")
    label(for="email") Email
    input#email(type="email" name="email" placeholder="Email")
    label(for="password") Password
    input#password(type="password" name="password" placeholder="Password")
    button#register(type="submit") Login