extends layout.pug
block variables
  - var page_title = 'registration'

block content
  h2 Registration
  form(method="POST")
    label(for="email") Email
    input#email(type="email" name="email" placeholder="Email")
    label(for="password") Password
    input#password(type="password" name="password" placeholder="Password")
    label(for="password-confirm") Password confirmation
    input#confirmation(type="password" name="confirmation" placeholder="Confirmation")
    button#register(type="submit") Register
    if error
      #error= error