extends layout.pug
block variables
  - var page_title = 'registration'

block content
  h2 Registration
  form(method="POST")
    label(for="email") Email
    input#email(type="email" name="email" placeholder="Email" value=email required autofocus)
    label(for="password") Password
    input#password(type="password" name="password" placeholder="Password" required)
    label(for="confirmation") Confirm password
    input#confirmation(type="password" name="confirmation" placeholder="Confirmation" required)
    button#register(type="submit") Register
    if error
      #error= error